/***** SITE WIDE *****/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/***** HEADER *****/
header {
    display: grid;
    grid-template-columns: 100px auto 44px;
    align-items: center;
    padding: 10px 0 10px 10px;
    border-bottom: solid 1px;
    column-gap: 10px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}

header span{
    font-size: 1.5rem;
    /* color: ; */
}

/****** HAMBURGER NAVIGATION ****/
.hamburger{
    background: none;
    border: none;
    /* color: ; */
    cursor: pointer;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/***** NAVIGATION *****/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    background-color: rgb(70 83 107 / 100%);
    color: #eee;    
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
/* .navigation li.current{
    color: #260a0a;
} */

a:hover {
    text-decoration: underline;
    color: #0bfe0f;
}

.active {
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
}
  


main{
    display: block;
    padding: 1rem;
}

h1{
    margin-left: 10px;

}

h2, h3{
    text-align: center;    
    background-color: rgb(70 83 107 / 100%);
    color: #fff ;
}

section{
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-align: center;
}



/***** FOOTER *****/
footer{
    background-color: rgb(70 83 107 / 100%);
    color: #eee;        padding: 1rem 10px;
    text-align: center;
    
}
.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: black solid 1px;
    border-radius: 22px;
}
.social img{
    width: 22px;
    height: 22px;
}
.social a:hover{
    background-color: #0bfe0f;
}